  <nav class="navbar navbar-expand-sm navbar-light bg-primary">
        <div class="container-fluid">
          
                <div class="navbar-nav me-auto">
                    <a class="nav-link active" routerLink="home">Home</a>
                    <a class="nav-link active" routerLink="details">details</a>

                </div>
                <div class="navbar-nav ms-auto">
                    <a class="nav-link active " routerLink="login">login</a>
                </div>
        </div>
    </nav>

